<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Calculations" data-toc-modified-id="Data-Calculations-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Calculations</a></span><ul class="toc-item"><li><span><a href="#Working-with-constants" data-toc-modified-id="Working-with-constants-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Working with constants</a></span></li><li><span><a href="#Combining-two-or-more-columns" data-toc-modified-id="Combining-two-or-more-columns-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Combining two or more columns</a></span></li><li><span><a href="#Conditional" data-toc-modified-id="Conditional-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Conditional assignment</a></span></li><li><span><a href="#Calculations-Using-Functions" data-toc-modified-id="Calculations-Using-Functions-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Calculations Using Functions</a></span></li></ul></li><li><span><a href="#Data-Aggregation-&amp;-Summarization" data-toc-modified-id="Data-Aggregation-&amp;-Summarization-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Aggregation &amp; Summarization</a></span><ul class="toc-item"><li><span><a href="#Grouping" data-toc-modified-id="Grouping-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Grouping</a></span></li><li><span><a href="#Aggregations" data-toc-modified-id="Aggregations-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Aggregations</a></span></li><li><span><a href="#Aggregations" data-toc-modified-id="Aggregations-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Aggregations</a></span></li></ul></li></ul></div>

# Data Calculations

## Working with constants

We load the dataset animals (we have worked with it before)

In [5]:
import numpy as np
import pandas as pd
from scipy import stats

In [6]:
animals = pd.read_csv('animals.csv')

In [7]:
animals.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

We will use this dataset and create a new column that converts the body weight in pounds to kilograms (1 pound = 0.45359237).

In [8]:
# your code
animals.bodywt * 0.45359237

0      20.184860
1       7.030228
2       3.674098
3     191.875016
4      54.203381
         ...
57     76.657111
58      1.179340
59      5.170953
60      1.133981
61     22.861055
Name: bodywt, Length: 62, dtype: float64

## Combining two or more columns

For example, we can compute the ratio of body weight to brain weight for all animals in our data and assign this value to a new column.

In [9]:
# your code
animals.brainwt / animals.bodywt

0     0.076067
1     0.030970
2     0.166667
3     1.099219
4     0.304005
        ...
57    0.946769
58    0.346154
59    0.142105
60    0.041600
61    0.084028
Length: 62, dtype: float64

In [11]:
animals = animals.assign(peso_en_kg=animals.bodywt * 0.45359237, ratio=animals.brainwt / animals.bodywt )
animals.head()

   brainwt   bodywt      animal  peso_en_kg     ratio
0    3.385   44.500  Arctic_fox   20.184860  0.076067
1    0.480   15.499  Owl_monkey    7.030228  0.030970
2    1.350    8.100      Beaver    3.674098  0.166667
3  464.983  423.012         Cow  191.875016  1.099219
4   36.328  119.498   Gray_wolf   54.203381  0.304005

## Conditional assignment

In [12]:
animals['wtratiozerocheck'] = np.where(animals['brainwt'] != 0, animals['bodywt'] / animals['brainwt'], 0)
animals.head()

   brainwt   bodywt      animal  peso_en_kg     ratio  wtratiozerocheck
0    3.385   44.500  Arctic_fox   20.184860  0.076067         13.146233
1    0.480   15.499  Owl_monkey    7.030228  0.030970         32.289583
2    1.350    8.100      Beaver    3.674098  0.166667          6.000000
3  464.983  423.012         Cow  191.875016  1.099219          0.909736
4   36.328  119.498   Gray_wolf   54.203381  0.304005          3.289419

## Calculations Using Functions

Let's say we want to take a sum of all numeric columns in the animals DataFrame.

In [14]:
# your code
animals.mean()

brainwt             198.794290
bodywt              283.135355
peso_en_kg          128.428037
ratio                 0.277612
wtratiozerocheck      9.624200
dtype: float64

# Data Aggregation & Summarization

## Grouping

In [15]:
import numpy as np
import pandas as pd

vehicles = pd.read_csv('vehicles/vehicles.csv')

In [16]:
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Aggregations

In [42]:
# aggregate 3 different columns and compute their mean based on the different transmission values

vehicles.groupby('Drivetrain').mean().get(['Highway MPG','City MPG'])

                            Highway MPG   City MPG
Drivetrain
2-Wheel Drive                 19.340426  15.624113
2-Wheel Drive, Front          33.000000  25.000000
4-Wheel Drive                 22.741966  16.913989
4-Wheel or All-Wheel Drive    19.633708  15.035061
All-Wheel Drive               25.597352  18.312898
Front-Wheel Drive             28.616759  21.174563
Part-time 4-Wheel Drive       19.088608  14.620253
Rear-Wheel Drive              21.225680  15.422049

In [43]:
# aggregate based on two columns and compute the median CO2 Emission for all combinations of fuel type and cylinders
vehicles.groupby(['Transmission','Year']).mean().get('CO2 Emission Grams/Mile')

Transmission  Year
Auto (AV)     2011     84.000000
              2012     87.000000
Auto (AV-S6)  2010    386.391304
Auto (AV-S8)  2010    423.190476
Auto(A1)      2014     40.000000
                         ...
Manual 7-spd  2015    423.937500
              2016    418.533333
              2017    406.750000
Manual(M7)    2016    457.500000
              2017    724.000000
Name: CO2 Emission Grams/Mile, Length: 409, dtype: float64

In [47]:
from scipy.stats import hmean, gmean, mode

In [48]:
def moda(x):
    return(mode(x)[0])

In [49]:
# produce the mean, median and standard deviation for combined MPG grouped by fuel type


vehicles.groupby('Drivetrain')['Highway MPG'].agg(['mean',('hmean',lambda x: hmean(x)), ('gmean',gmean), ('moda',moda)])

/home/bioinformatica/.local/share/virtualenvs/Ironhack-OdDBNwqQ/lib/python3.7/site-packages/scipy/stats/stats.py:404: RuntimeWarning: invalid value encountered in double_scalars
  return size / np.sum(1.0 / a, axis=axis, dtype=dtype)
/home/bioinformatica/.local/share/virtualenvs/Ironhack-OdDBNwqQ/lib/python3.7/site-packages/scipy/stats/stats.py:339: RuntimeWarning: Mean of empty slice.
  return np.exp(log_a.mean(axis=axis))
/home/bioinformatica/.local/share/virtualenvs/Ironhack-OdDBNwqQ/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

                                 mean      hmean      gmean  moda
Drivetrain
2-Wheel Drive               19.340426  18.008391  18.667159    22
2-Wheel Drive, Front        33.000000  33.000000  33.000000    33
4-Wheel Drive               22.741966  22.055783  22.399567    21
4-Wheel or All-Wheel Drive  19.633708  18.926044  19.283234    17
All-Wheel Drive             25.597352  24.897742  25.251994    23
Front-Wheel Drive           28.616759  27.832465  28.210801    26
Part-time 4-Wheel Drive     19.088608  18.834454  18.964792    21
Rear-Wheel Drive            21.225680  20.295590  20.765690    22